colorama==0.4.1
Django==2.2.4
django-heroku==0.3.1
gunicorn==19.9.0
icc-rt==2019.0
llvmlite==0.29.0
matplotlib==3.1.1
numba==0.45.1
numpy==1.17.0
pandas==0.25.0
petname==2.6
psycopg2==2.8.3
pytest
python-dotenv==0.10.3
