{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'xo/style.css' %}">

<body>
    <div class="text-center" id="box-3x3">
    <header>
        <h1>Tic-Tac-Toe</h1>
    </header>
    <div id="message">Would you like to play a game?</div>
    <form method="POST" class="board">
        {% csrf_token %}
        <div>
            <label>Number of rows</label>
            {{ form.n_rows }}
        </div>
        <div>
            <label>Number of columns</label>
            {{ form.n_cols }}
        </div>
        <div>
            <label>Number of connects</label>
            {{ form.n_connects }}
        </div>
        <div>
            <label>Is Kriegspiel</label>
            {{ form.is_kriegspiel }}
        </div>
        <div>
            <label>Player 1 type</label>
            {{ form.player1 }}
        </div>
        <div>
            <label>Player 2 type</label>
            {{ form.player2 }}
        </div>
        <button id="newgame" type="submit">Play</button>
    </form>
    </div>
</body>
