body{
    margin: 20px;
    background: #212121;
    color: #666;
}
h1{
    text-align: center;
    color: #fff;
}
#message{
    text-align: center;
    background: #333;
    color: #fff;
}
#box{
    display: block;
    width: 350px;
    overflow: auto;
    margin: 40px auto;
    padding: 40px auto;
    background: #666;
    border-radius: 10px;
    padding: 40px;
}
.label{
    color: #000;
    text-align: left;
}
