.square{
    margin: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    font-family: Arial;
    font-size: 60px;
    font-weight: bold;
    background: #333;
    border: none;
    color: #ccc;
    list-style: none;
    width: 70px;
    height: 70px;
    float: left;
    border-radius: 5px;
}

button[type=submit]:hover{
    cursor: pointer;
    background: #000;
    opacity: 1;
    margin: 0px;
    padding: 0px;
}
