{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'xo/square.css' %}">
{% if value == ' ' %}
    {# This square is empty #}
    <form method="POST" class="square">
        {% csrf_token %}
        <input name="row_index" value="{{ row_index }}" type="hidden">
        <input name="col_index" value="{{ col_index }}" type="hidden">
        <button type="submit">{{ next_player }}</button>
    </form>
{% else %}
    <div class="square">
        {{ value }}
    </div>
{% endif %}
