{% extends 'base.html' %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'xo/new_game.css' %}">
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col">
        <form method="POST" id="box">
            <h1>Tic Tac Toe</h1>
            <hr class="mt-0 mb-4">
            {% csrf_token %}
            <div class="form-group">
                <label class="label">Number of rows</label>
                {{ form.n_rows }}
            </div>
            <div class="form-group">
                <label class="label">Number of columns</label>
                {{ form.n_cols }}
            </div>
            <div class="form-group">
                <label class="label">Number of connects</label>
                {{ form.n_connects }}
            </div>
            <div class="form-group">
                <label class="label">Player X type</label>
                {{ form.player_x }}
            </div>
            <div class="form-group">
                <label class="label">Player O type</label>
                {{ form.player_o }}
            </div>
            <button type="submit">Play</button>
        </form>
    </div>
</div>
{% endblock %}
