{% extends 'base.html' %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'xo/new_game.css' %}">
{% endblock %}

{% block content %}
    <div class="text-center" id="box">
    <header>
        <h1>Tic-Tac-Toe</h1>
    </header>
    <div id="message">Would you like to play a game?</div>
    <form method="POST" id="form">
        {% csrf_token %}
        <div>
            <label class="label">Number of rows</label>
            {{ form.n_rows }}
        </div>
        <div>
            <label class="label">Number of columns</label>
            {{ form.n_cols }}
        </div>
        <div>
            <label class="label">Number of connects</label>
            {{ form.n_connects }}
        </div>
        <div>
            <label class="label">Is Kriegspiel</label>
            {{ form.is_kriegspiel }}
        </div>
        <div>
            <label class="label">Player X type</label>
            {{ form.player_x }}
        </div>
        <div>
            <label class="label">Player O type</label>
            {{ form.player_o }}
        </div>
        <button type="submit">Play</button>
    </form>
    </div>
{% endblock %}
