{% extends 'base.html' %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'xo/main.css' %}">
{% endblock %}

{% block content %}
    {% with next_player=game.next_player next_player_type=game.next_player_type game_over=game.is_game_over %}
    <div class="row justify-content-center">
        <div class="col-sm-auto row-width row-height board" id="board" next-player="{{ next_player }}" next-player-type="{{ next_player_type }}" board-update-url="{% url 'xo:board_update' %}" game-id={{ game.id }} new-game-url="{% url 'xo:index' %}">
        <div class="row justify-content-center">
            <h1>{{ game.n_rows }} x {{ game.n_cols }} board</h1>
        </div>
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col" id="message">
            {% if game_over == 'X' %}
                <div class="row justify-content-center">Player X wins!</div>
                <a href="{% url 'xo:index' %}" class="row justify-content-center" id="message-link">Start a new game.</a>
            {% elif game_over == 'O' %}
                <div>Player O wins!</div>
                <a href="{% url 'xo:index' %}">Start a new game.</a>
            {% elif game_over == ' ' %}
                <div>Game drawn.</div>
                <a href="{% url 'xo:index' %}">Start a new game.</a>
            {% else %}
                <div>Player {{ next_player }}'s turn</div>
            {% endif %}
            </div>
        </div>
        <div class="row justify-content-center">
            <table class="table table-borderless table-fit">
                {% for row in game.board_mat %}
                <tr id="{{ forloop.counter0 }}">
                        {% for value in row %}
                        <td row-ind={{ forloop.parentloop.counter0 }} col-ind={{ forloop.counter0 }}>
                            {% include "includes/square1.html" with game=game row_index=forloop.parentloop.counter0 col_index=forloop.counter0 value=value %}
                            </td>
                        {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        </div>
    </div>
    {% endwith %}
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/game.js' %}"></script>
{% endblock %}
